* {
    font-family: noto-serif,serif;
    font-weight: 200;
}

body {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 4em;
    font-weight: 300;
}

h4 {
    font-size: 28px;
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.white-link {
    color: #fff;
}

.info-btn-span-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

/* HEADER */
.main___header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo {
    font-size: 32px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo p {
    margin: 0;
}

.nav nav {
    display: inline-flex;
    gap: 25px;
    color: #fff;
}

/* BACKGROUND-IMG BLOCK */

.background img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10em 15em;
}

h2 {
    color: #fff;
    font-size: 6em;
    font-weight: 400;
    margin: 0;
}

.background-two {
    height: 932px;
}

.background-two img {
    width: 100%;
}

.title-feedback {
    position: absolute;
    top: 165em;
    margin: 10em;
    text-align: center;
}

.section-background img {
    background-color: rgb(35, 5, 15);
}
/* LIGHT SECTIONS */
.light-section {
    background-color: rgb(235, 230, 210);
}

.content-about {
    display: flex;
    align-items: center;
    padding: 2em 15em;
}

.content-about div {
    width: 50%;
    margin: 0;
}

.content-about-text p {
    font-size: 18px;
    line-height: 28px;
    width: 23em;
    font-weight: 400;
}

.content-about-img img {
    width: 100%;
    border-radius: 100% 50%;
}

.drinks-section {
    text-align: center;
}

.drinks {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    padding: 3em;
}

.drinks .pair {
    display: flex;
    gap: 5em;
    width: 50%;
}

.pair div {
    width: 50%;
}

.drinks img {
    width: 100%;
    border-radius: 50%;
}

/* DARK SECTIONS */

.dark-section {
    background-color: rgb(35, 5, 15);
    color: #fff;
}

.food-section {
    display: flex;
    align-items: center;
}

.food-section div {
    width: 50%;
    padding: 3em;
}

.food-section div img {
    width: 100%;
}

span {
    font-weight: 600;
}

.information {
    display: flex;
    align-items: center;
    padding: 5em 10em;
}

.info-img,
.info-text {
    width: 50%;
}

.info-img {
    display: flex;
    justify-content: center;
}
.info-img img {
    width: 80%;
    /* margin: 3em; */
}

.info-container {
    display: none;
}

.info-active {
    display: block;
}

.info-btn-span {
    font-size: 28px;
    font-weight: 100;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 230, 210);
    width: 100%;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: none;
    border-right: none;
    margin: -1px;
}

.form form {
    background-color: rgb(52, 27, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 10em;
    text-align: center;
}

.form-section {
    padding: 5em 15em;
}

.select-item {
    height: 40px;
    width: 170px;
    border: none;
    border-radius: 0;
    margin: 1em;
}

.form button {
    height: 42px;
    width: 174px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: black;
    margin: 1em;
}

.slide {
    display: flex;
    padding: 2em;
}

.slide div {
    width: 25%;
    margin: 1em;
}

.slide div img {
    width: 100%;
}

.footer p {
    margin: 0;
}

.footer {
    padding: 1em;
}

.footer .info div {
    padding: 1em;
}

.copy {
    text-align: center;
}

/* ANIMATION */

.element-animation {
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

@media screen and (max-width: 992px) {
    h2 {
        font-size: 5em;
    }

    h3 {
        font-size: 2em;
    }

    .content-about p,
    p {
        font-size: 12px;
    }

    .title {
        margin: 2em 4em;
    }

    .content-about {
        padding: 2em 5em;
    }

    .drinks {
        flex-direction: column;
    }

    .drinks .pair {
        width: 100%;
    }

    .title-feedback {
        top: 333%;
        margin: 3em;
    }

    .background-two {
        height: 650px;
        background-color: rgb(235, 230, 210);
    }

    .form-section {
        padding: 4em 2em;
    }

    .information {
        padding: 2em 6em;
    }

    .form form {
        padding: 3em 1em;
    }
}

@media screen and (max-width: 720px) {
    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    .main___header {
        padding: 0;
    }

    .title {
        margin: 1em 3em;
    }

    .content-about div {
        width: 70%;
    }

    .content-about {
        flex-direction: column-reverse;
        padding: 1em;
    }

    .drinks {
        padding: 1em;
        gap: 1em;
    }

    .drinks .pair {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .food-section {
        flex-direction: column;
    }
    .food-section div {
        width: 80%;
        padding: 1em;
    }

    .section-hidden {
        display: none;
    }

    .information {
        padding: 1em;
    }

    .slide {
        padding: 0;
    }

    .slide div {
        margin: 0;
    }

}